html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2vh;
    line-height: 1.5;
}

li, p {
    line-height: 1.5;
}

.body {
    background-color: #050269;
    width:fit-content;
}

.welcome-header {
    background-color: #0EA2E0;
    padding: 1em;
}

.welcome-header__title {
    text-align: center;
}

.footer {
    background-color: #0EA2E0;
    padding: 1em;
}

.main-article {
    background-color: #4FB5FF;
    padding: 1rem;
    margin: 1rem;
}

.main-article__title {
    text-align: center;
}

.ball-navigation {
    list-style-type: none;
    font-weight: bold;
}

.ball-navigation__item {
    list-style-type: none;
    padding-left: 2em;
    background-image: url("../img/basketball.svg");
    background-position: 0.25em 0.25em;
    background-size: 1.5em 1.5em;
    background-repeat: no-repeat;
    line-height: 2.0;
}

.top-list {
    /* border: 2px solid red; */
    background-image: url("../img/first-place.svg");
    background-position: 1.4em 0em;
    background-size: 1.5em 1.5em;
    background-repeat: no-repeat;
    text-transform: capitalize;
    text-align: left;
    padding-left: 3em;
}

.top-list__first-place {
    list-style-type: none;
}

.sports-team-name {
    text-shadow: 1px 1px 1px #000000;
    color: #923f21;
    font-weight: bold;
    letter-spacing: 0.15em;
    word-spacing: 0.5em;
    line-height: 2em;
    text-decoration-line: underline;
    text-decoration-style: double;
}

.boston {
    padding-left: 2em;
    color: rgb(27, 139, 4);
    background-image: url("../img/boston-logo.svg");
    background-position: 0.1em 0.1em;
    background-size: 1.7em 1.7em;
    background-repeat: no-repeat;
}

.milwaukee {
    padding-left: 2em;
    color: rgb(3, 87, 35);
    background-image: url("../img/bucks-logo.svg");
    background-position: 0 0;
    background-size: 1.7em 1.7em;
    background-repeat: no-repeat;
}

.golden-state {
    line-height: 3;
    padding-left: 3em;
    color: rgb(225, 215, 0);
    background-image: url("../img/gsw-logo.svg");
    background-position: 0 0;
    background-size: 3em 3em;
    background-repeat: no-repeat;
}

.ascii-img {
    text-align: center;
    line-height: 0.75;
    letter-spacing: -0.2em;
    font-size: 3vh;
    width: 20em;
    height: 15em;
	overflow: auto;
	overflow-y: hidden;
    background: 
        linear-gradient(217deg, rgba(255, 162, 0, 0.8), rgba(255,0,0,0) 70.71%), 
        linear-gradient(127deg, rgba(13, 228, 210, 0.8), rgba(0,255,0,0) 70.71%), 
        linear-gradient(336deg, rgba(0, 0, 255, 0.763), rgba(0,0,255,0) 70.71%);
    text-shadow: 1px 1px 1px #000;
    color:rgb(234, 103, 10);
	border: 0.15em solid #777;
}

.footer {
    border: medium solid #484747;
}

pre {
    background-color: #e6daa6;
    /* width: min-content; */
    max-width: 100%;
    scroll-behavior: auto;
}

code {
	padding: 10px;
	color: #484747;
    font-weight: 600;
}

strong b {
    text-transform: uppercase;
}

ins {
    background-color: rgb(62, 196, 62);
    padding: 0 0.5em 0;
}

del {
    background-color: rgb(196, 62, 62);
    padding: 0 0.5em 0;
}

blockquote {
    padding-left: 15px;
    border-left: 3px solid #787878;
    font-size: 1em;
}

em {
    color:rgba(131, 12, 147, 0.8);
}

i {
    font-style: oblique;
    color:rgba(7, 7, 46, 0.763);
}

/* позиционирование элементов */

.body {
    display: flex;
    flex-direction: column;
}

.main-article {
    display: flex;
    flex-direction: column;
}

.img-gallery {
    display: flex;
    justify-content: space-around;
    /* border:2px solid red; */
}

.img-gallery-item {
    width: 30%;
    object-fit: cover;
}

.ball-navigation {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    /* border: 2px solid red; */
}

@media screen and (max-width: 1000px){
    .ball-navigation {
        flex-direction: column;
    }
}

#up-button {
    width: 70px;
    height: 30px;
    background-color: aqua;
    border: 2px double antiquewhite;

    position: fixed;
    top: 20px;
    left: 50px;
    z-index: 1;
}

math {
    font-size: 3vh;
    font-weight: bold;
}

.welcome-header {
    z-index: 2;
}

/* турнирная таблица */

.cell-text {
    font-family: cursive;
    font-size: 1.25rem;
    line-height: 2;
    text-align: center;
}

.league-table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    column-gap: 10px;
    row-gap: 15px;
    width: 75%;
}

.league-table__team-name {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.league-table__total-games-played {
    grid-column-start: 3;
    grid-column-end: 4;
}

.league-table__total-wins {
    grid-column-start: 4;
    grid-column-end: 5;
}

.league-table__total-losses {
    grid-column-start: 5;
    grid-column-end: 6;
}

.borderElement {
    border: 4px solid;
    border-radius: 20px;
}

.borderElement__purple {
    background-color: #EEDDFF;
    border-color: #7922CC;
}

.borderElement__orange {
    background-color: #FFE8DB;
    border-color: #FF5A00;
}

.borderElement__grey {
    background-color: #b7b4b2;
    border-color: #53392b;
}

.tournament-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advertising-banner {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1400px) {
    .advertising-banner {
        display: none;
    }
}