.timetable {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    /* grid-template-rows: repeat(7, 1fr); */
    column-gap: 10px;
    row-gap: 15px;
    width: 75%;
}

.timetable-hometeam {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.timetable-guest {
    grid-column-start: 5;
    grid-column-end: 7;
}

.timetable-hometeam-score {
    grid-column-start: 3;
    grid-column-end: 4;
}

.timetable-guest-score {
    grid-column-start: 4;
    grid-column-end: 5;
}

.timetable-overtime {
    grid-column-start: 7;
    grid-column-end: 8;
}

